body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

h1 {
    margin-bottom: 2rem;
}
